---
// TODO: HN API からデータ取得してエントリーリストを表示
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HN Hatena UI</title>
  </head>
  <body>
    <h1>HN Hatena UI</h1>
    <p>Hacker News のデータを、はてなブックマーク風UIで表示します。</p>
  </body>
</html>
